[Desktop Entry]
Encoding=UTF-8
Name=Ticki
Comment=Simple RSS Ticker
Icon=rss
Type=Service

X-KDE-PluginInfo-Author=andi
X-KDE-PluginInfo-Email=crazy-andi@gmx.de
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Name=org.kde.plasma.ticki
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=plasma.kde.org
X-KDE-ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Category=Windows and Tasks

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.ticki

