[Desktop Entry]
Name=Advanced Radio Player
Comment=Radio with editable list of stations.
Comment[ru_RU]=Радио с редактируемым списком станций
Icon=radio
Type=Service
ServiceTypes=Plasma/Applet
X-KDE-PluginInfo-Author=Yuri Saurov
X-KDE-PluginInfo-Email=dr@i-glu4it.ru
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Website=https://invent.kde.org/-/ide/project/saurov/arp/
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL2
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Name=org.kde.plasma.advancedradio

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Requires-FileDialog=Unused
X-Plasma-Requires-LaunchApp=Unused
