[Desktop Entry]
Encoding=UTF-8
Name=EcoWatt
Comment=Displays Status from EcoWatt
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=oll770
X-KDE-PluginInfo-Email=oll770@protonmail.com
X-KDE-PluginInfo-License=MIT
X-KDE-PluginInfo-Name=org.kde.plasma.ecowatt
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=System Information
Icon=view-web-browser-dom-tree

Name[fr]=EcoWatt
Comment[fr]=Affiche les statuts pour EcoWatt
